<form [formGroup]="heroeForm" (ngSubmit)="saveHero()">
    <div>
        <label for="id">Id:</label>
        <input type="number" formControlName="id" readonly [disabled]="true">
        <label for="nombre">Nombre:</label>
        <input type="text" formControlName="name">
        <div *ngIf="heroeForm.get('name')?.invalid && (heroeForm.get('name')?.dirty || heroeForm.get('name')?.touched)">
            <div *ngIf="heroeForm.get('name')?.errors">El nombre es requerido.</div>
        </div>
    </div>
    
    <button type="submit">Guardar</button>
</form>