<h2 class="title">Lista de héroes</h2>
<app-searcher></app-searcher>
<button mat-flat-button [routerLink]="['/new']" color="primary">Nuevo</button>

<div style="margin: 2rem;">
    <ng-container *ngIf="(heroesListObs$ | async) as heroesList else loading">

    <mat-nav-list>
        <mat-list-item  *ngFor="let hero of heroesList">
           <a matListItemTitle [routerLink]="['/edit', hero.id]">{{ hero.name | titlecase }}</a>
           <button mat-icon-button [routerLink]="['/edit', hero.id]" matListItemMeta>
              <mat-icon>edit</mat-icon>
           </button>
           <button mat-icon-button (click)="remove(hero)" matListItemMeta>
              <mat-icon>cancel</mat-icon>
           </button>
        </mat-list-item>
    </mat-nav-list>
    </ng-container>
</div>
<ng-template #loading>  
  <p>Loading...</p>
</ng-template>  