.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-content: flex-start;
    align-items: flex-start;
}

.title { 
    display: flex;
    justify-content: center;
}

.searcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
}